.user_block {
	padding: 10px 0 0 55px;
}

.user_image {
	width: 42px;
	float: left;
	padding-top: 8px;
}

.user_credentials {
	line-height: 20px;
	display: block;
}

.bgc_white {
	background-color: #fff;
}

.details_buttons{
	background-color: white;
	border-top: .5px solid lightgray;
}

.details_header{
	padding-left: 15px;
}

.details_body{
	display: flex;
}

.details_contacts{
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.details_contacts span{
	margin: 12px;
	font-size: 15px;
}

.details_image img{
	width: 170px;
}

.details_image p{
	text-align: center;
}

.activities_button{
	background-color: white;
	border: .5px solid lightgray;
}

.contactsForm_header{
	margin-top: 10px;
}

.contactsForm_userImage{
	width: 150px;
	margin: 15px 0 0 60px;
}

.contacts_filterInput input[placeholder] {
	font-style: italic;
}
